body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
svg {
  display: block;
  vertical-align: middle;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 156px; /* Footer height */
  min-height: calc(100vh - 156px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
#landing-wrap {
  padding-bottom: 156px; /* Footer height */
  min-height: calc(100vh - 244px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}
#content-wrap .heading {
  text-align: center;
}
h1 {
  font-size: 48px;
  margin: 0 auto 32px auto;
  font-weight: 300;
  color: #333;
  max-width: 968px;
  line-height: 1.2;
}
h1 span {
  font-weight: 600;
  color: #2c4bff;
}
p {
  max-width: 768px;
  margin-inline: auto;
  margin: 0 auto 32px;
  font-size: 20px;
  line-height: 1.5;
  color: #4f4f4f;
  max-width: 666px;
}
#search_section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 156px; /* Footer height */
  background: #2c4bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin-inline: auto;
  position: relative;
}
.search input {
  height: 56px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  max-width: 768px;
  width: 100%;
  margin-inline: auto;
  padding: 0 84px 0 24px;
  border: none;
  font-size: 16px;
  color: #333;
}
.search input:hover {
  outline: 0;
  box-shadow: 0 0 1px 1px rgba(13, 110, 253);
}
.search input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.search button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  height: 56px;
  width: 56px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.search button:hover {
  background-color: #fbfbfb;
}
.search button svg {
  margin: 0 auto;
}

.arrow_down {
  width: 56px;
  height: 56px;
  background-color: #2c4bff;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
header {
  border-bottom: 1px solid #d1d5db;
  min-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search_results {
  padding-bottom: 156px; /* Footer height */
  max-height: calc(100vh - 312px);
  overflow: auto;
}
#search_results > div {
  max-width: 1024px;
  margin-inline: auto;
  font-size: 16px;
  width: 96%;
}

#search_results h2:first-letter {
  text-transform: capitalize;
}
#search_results header {
  margin-bottom: 24px;
}
#search_results header h2 {
  max-width: 1024px;
  margin-inline: auto;
  width: 96%;
  text-align: center;
  font-weight: 400;
}

#search_results p {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
